@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
}

body {
    font-size: 14px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    background: #fafbfc;
    color: #333;
    line-height: 26px;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

pre,
code,
tt {
    font: 0.95em 'andale mono', monotype, 'lucida console', monospace;
    line-height: 1.5;
}

.seventy {
    float: left;
    width: 728px;
}

.sixty {
    float: left;
    width: 60%;
}

.fifty {
    float: left;
    width: 50%;
}

.fifty.pad {
    padding: 0 10px;
}

.validate {
    padding: 8px 0;
}

.memberful-button {
    float: right;
    margin-top: 17px;
}

.memberful-button a {
    background: #1E8BC3;
    padding: 10px 15px 11px;
    color: #fff;
    border-radius: 1px;
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.memberful-button a:hover{
    background:#555;
}

@media only screen and (max-width:540px) {
    .memberful-button {display:none}
}


.info {
    display: block;
    padding: 0 0 30px;
    clear: both;
    width: 100%;
    border-bottom: 1px solid #eee;
}

.info ul {
    margin: 5px 0;
}

.info li {
    margin: 0 0 0 15px;
    padding: 0;
    font-size: 14px;
}

p {
    font-size: 14px;
}

p.heading {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 0;
}

p code,
li code {
    line-height: 2.1
}

.ads {
    color: #ababab;
    font-size: 12px;
    padding: 20px 20px 0;
    text-align: right;
}

.cta {
    padding: 3px 6px;
    display: block;
    font-size: 13px;
    text-decoration: none;
    border-radius: 2px;
    color: #3a3b3c;
    float: right;
}

.cta:hover {
    background: rgba(0, 0, 0, 0.05);
}

.cta strong {
    color: #3a3b3c;
}


header {
    width: 100%;
    background-color: #fff;
    z-index: 1;
    border-bottom: 1px solid #f0f0f0;
}

nav {
    margin: 0 auto 0;
    padding: 0 15px;
    color: #353535;
    font-size: 13px;
    max-width: 1100px;
}

.dev-tools-logo {
    width: 30px;
    height: 30px;
    padding: 9px 0 0 3px;
    float: left;
    background: #1E8BC3;
    border-radius: 2px;
    text-align: center;
    margin: 4px 0 0;
    font-weight: 700;
    font-size: 9px;
    letter-spacing: 0.2px;
    color: #fff;
}

.logo {
    display: block;
    padding: 6px 15px 0;
    float: left;
}

.logo h1 {
    font-size: 13px;
    font-weight: 700;
    float: left;
    margin: 0;
}

.sub-title,
tagline-title {
    font-weight: 400
}

nav:after {
    content: "";
    display: table;
    clear: both;
}


nav ul li.pro-button{    background: #1E8BC3;
    border-left: none;
    border-right: none;
    font-size: 10px;
    font-weight: 600;
    padding: 1px 0 0;
    color: #fff;
    border-radius: 2px;
    margin: 6px 15px;}

nav ul li.pro-button a{color:#fff}
nav ul li.pro-button:hover a{background:#555}

.toggle,
[id^=drop] {
    display: none;
}

nav ul {
    float: right;
    margin: 0;
    list-style: none;
    position: relative;
    padding: 0;
    z-index: 101;
}

nav ul li {
    margin: 0;
    display: inline-block;
    background-color: #fafafa;
    padding: 7px 0;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}

nav a {
    display: block;
    padding: 0 15px;
    color: #333;
    text-decoration: none;
}

nav ul li ul li:hover {
    background: #f4f4f4;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    border-top: 1px solid #f0f0f0;
}

nav ul li:hover>ul {
    display: inherit;
}

nav ul ul li {
    width: 240px;
    float: none;
    display: list-item;
    position: relative;
    border-bottom: 1px solid #f0f0f0;
    padding: 7px 0;
    line-height: 20px;
}

nav ul ul li.jscompress {
    border-left: 5px solid #F8DC3C;
}

nav ul ul li.json {
    border-left: 5px solid #1E8BC3;
}

nav ul ul li.compare {
    border-left: 5px solid #446CB3;
}

nav ul ul li.dns {
    border-left: 5px solid #26A65B;
}

nav ul ul li.comp {
    border-left: 5px solid #3498DB;
}

nav ul ul li.keygen {
    border-left: 5px solid #EB9532;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 300px;
}

.tagline-title {
    font-size: 11px
}

li>a:only-child:after {
    content: '';
}

.three-lines {
    position: relative;
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    margin: 7px 10px 0 0;
    border-top: 0.1em solid #333;
    border-bottom: 0.1em solid #333;
}

.three-lines:before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0;
    width: 100%;
    border-top: 0.1em solid #333;
}

.hide {
    display: none;
}

.container {
    display: block;
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 15px;
    text-align: left;
}

.ad.top img,
.ad.bottom img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.ad {
    display: block;
    text-align: center;
}

.ad.top {
    margin: 30px 0;
}

.ad.bottom {
    margin: 30px 0;
}

footer {
    text-align: center;
    max-width: 1100px;
    padding: 15px;
    margin: 0 auto 0;
    border-top: 1px solid #eee;
    font-size: 12px;
    font-weight: 700;
}

main {
    display: block;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 1.5em 0;
}

.CodeMirror-gutters {
    /* something gone wrong with gutter after update, setting its min height manually */
    min-height: 400px !important;
}

#code,
.CodeMirror {
    width: 100%;
    height: 380px;
    border: 1px solid #e1e1e1;
    margin-bottom: 1em;
    font-size: 14px;
}

.line-error {
    background-color: #FBE3E4;
}

button[type="submit"] {
    background-color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid #e1e1e1;
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    color: #333;
    margin: 10px 10px 0 0;
}

button[type="submit"]:hover {
    background: #f3f3f3;
    border: 1px solid #d1d1d1;
    cursor: pointer;
}

button[type="submit"]:active {}

button[type="reset"] {
    background-color: #f0f0f0;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid #ddd;
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    color: #333;
    margin-top: 10px;
}

button[type="reset"]:hover {
    cursor: pointer;
    background: #ddd;
    border: 1px solid #ccc;
}

button[type="reset"]:active {
}

#result-container {
    display: none;
    padding-top: 15px;
}

#result-container.shown {
    display: block;
}

#result-container h3 {
    font-size: 1.3em;
}

#result {
    border: 1px solid transparent;
    margin: 1.6em 0;
    padding: 0.8em;
}

#result:empty {
    display: none;
}

#result.error {
    background: #FBE3E4;
    color: #D12F19;
    border-color: #FBC2C4;
}

#result.success {
    background: #E6EFC2;
    color: #529214;
    border-color: #C6D880;
}

.bsa-ad {
    margin: 25px 0;
    padding: 1.5em 1em;
    background-color: #E6EBF0;
    background-color: hsl(210, 25%, 92%);
    flex-flow: row nowrap;
    display: none;
}

.partner {
    display: block;
    flex-direction: column;
    width: 100%;
    padding: 0 15px 15px;
    justify-content: center;
}

.partner p {
    margin-bottom: .3em;
    font-size: 1.5em;
}

.partner strong {
    padding: .1em .4em;
    background-color: #1E8BC3;
    color: #fff;
}

.partner sub {
    font-weight: 200;
    font-size: 1.3em;
}

footer {
  padding-bottom: 3.5em !important;
}

.bsa-cpc-inline #_default_ {
  padding: .4em 1em .6em;
  background-color: hsla(0, 0%, 20%, .97);
  z-index: 10;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 1.5;
}

.bsa-cpc-inline .default-ad {
  display: none;
}

.bsa-cpc-inline ._default_ {
  display: inline;
  overflow: hidden;
  line-height: 1.5;
}

.bsa-cpc-inline ._default_ > * {
  vertical-align: middle;
}

.bsa-cpc-inline a {
  color: #fff;
  text-decoration: none;
}

.bsa-cpc-inline a:hover {
  color: #ddd;
}

.bsa-cpc-inline .default-image {
  display: none;
}

.bsa-cpc-inline .default-title:after {
  content: " — ";
}

.bsa-cpc-inline .default-title,
.bsa-cpc-inline .default-description {
  display: inline;
}

.bsa-cpc-inline .default-title {
  position: relative;
  margin-left: 8px;
}

.bsa-cpc-inline .default-title:before {
  position: relative;
  top: -1px;
  left: -8px;
  padding: 2px 5px 3px;
  background-color: #1e8bc3;
  color: #ffffff;
  content: "Sponsor";
  text-transform: uppercase;
  font-size: 11px;
  font-family: Verdana, sans-serif;
}


@media all and (max-width: 775px) {
    .description-title {
        display: none
    }
    .more-dev {
        display: none
    }
  .three-lines {
	margin:7px 5px
	}
}

@media all and (max-width: 460px) {
    .sub-title{
        display: none
    }
}

@media all and (max-width: 360px) {
    .more-tools{
        display: none
    }
}
